

/* nav */

.mc-bg-navbar {
    background-color: rgb(44, 62, 80);
}

#mc-jumbo-container {
    background-color: rgb(26, 188, 156);
    color: white;

}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    margin: 0px 10px;
    width: 120px;
    height: 2px;
    background-color: white;
}


#mc-jumbo-container img {
    width: 25%;
}

.mc-main-container .ic, .mc-main-container .line{
    background-color: black;
    /* margin: 50px 0px; */
}
.mc-main-container .box img {

    width: 100%;

}

#mc-about-container {
    background-color: rgb(26, 188, 156);
    /* padding: 20px 0px; */

}

#mc-footer {
    /* padding: 50px 0px;
    height: 500px; */
    background-color: rgb(44, 62, 80);
}

