

/* nav */

.mc-bg-navbar {
    background-color: rgb(44, 62, 80);
}

#mc-jumbo-container {
    background-color: rgb(26, 188, 156);
    color: white;
}

.line {
    margin: 0px 10px;
    width: 120px;
    height: 2px;
    background-color: white;
}


#mc-jumbo-container img {
    width: 25%;
}

.mc-main-container .ic, .mc-main-container .line{
    background-color: black;
}

.mc-main-container .box img {
    width: 100%;
}

#mc-about-container {
    background-color: rgb(26, 188, 156);
}

#mc-about-container .line {
    background-color: white;

}
#mc-about-container i {
    color: white;
}
#mc-footer-top {
    background-color: rgb(58, 84, 109);
}

#mc-send-btn {
    background-color: rgb(26, 188, 156);

}


#mc-footer-top .box {
    color: white;
}

.o-c {
    color: rgb(26, 188, 156);
}

#mc-footer-bottom {
    background-color: rgb(44, 62, 80);
}
#mc-footer-bottom h6 {
    color: white;
}

#google {
    color: white;
    height: 15px;
    width: 15px;
}